version: "3"

services:
  nginx:
    image: nginx:mainline-alpine
    restart: always
    network_mode: host
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./sites-available:/etc/nginx/sites-available
      - ./sites-enabled:/etc/nginx/sites-enabled
      - ./auth:/etc/nginx/auth
      - ./snippets:/etc/nginx/snippets
      - ./ssl:/etc/ssl
      - ./www:/var/www
      - /srv/certbot/config:/etc/letsencrypt

{% if ssl is defined %}
      - {{ ssl.cert }}:/etc/ssl/cert
      - {{ ssl.key }}:/etc/ssl/key
{% endif %}

{% for host in hosts %}

{% if "root" in host %}
      - {{ host.root }}:/var/www-external/{{ host.primary }}
{% endif %}

{% if "locations" in host %}
{% for location in host.locations %}
{% if "root" in location %}
      - {{ location.root }}:/var/www-external/{{ host.primary }}-{{ loop.index }}
{% endif %}
{% if "alias" in location %}
      - {{ location.alias }}:/var/www-external/{{ host.primary }}-{{ loop.index }}
{% endif %}
{% endfor %}
{% endif %}

{% endfor %}
