server {
    listen 443 ssl http2 {% if "default" in item and item.default %} default_server {% endif %};
    server_name {{ item.primary }};

{% if "root" not in item %}
    root /var/www/{{ item.primary }};
{% else %}
    root {{ item.root }};
{% endif %}

{% if "auth" in item %}
  {% if "msg" in item.auth %}
    auth_basic "{{ item.auth.msg }}";
  {% endif %}
    auth_basic_user_file auth/{{ item.auth.list }};
{% endif %}

{% if "locations" in item %}
  {% for location in item.locations %}
    location {{ location.url }} {

    {% if "auth" in location %}
      {% if "msg" in location.auth %}
        auth_basic "{{ location.auth.msg }}";
      {% endif %}
        auth_basic_user_file auth/{{ location.auth.list }};
    {% endif %}

    {% if "root" in location %}
        root {{ location.root }};
    {% endif %}

    {% if "alias" in location %}
        alias {{ location.alias }};
    {% endif %}

    {% if "try_files" in location and location.try_files %}
        try_files $uri {% if "proxy" in location %}@proxy{{loop.index}}{% endif %} {% if "uwsgi" in location %}@uwsgi{{loop.index}}{% endif %};
    }
    {% endif %}

    {% if "proxy" in location %}
      {% if "try_files" in location and location.try_files %}
    location @proxy{{loop.index}} {
      {% endif %}
        proxy_pass http://127.0.0.1:{{ location.proxy }}/;
        proxy_set_header Host            $host;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Real-IP $remote_addr;
      {% if "try_files" in location and location.try_files %}
    }
      {% endif %}
    {% endif %}

    {% if "uwsgi" in location %}
      {% if "try_files" in location and location.try_files %}
    location @uwsgi{{loop.index}} {
      {% endif %}
        include uwsgi_params;
        uwsgi_param HTTP_X_FORWARDED_PROTOCOL https;
        uwsgi_param UWSGI_SCHEME $scheme;
        uwsgi_pass 127.0.0.1:{{ location.uwsgi }};
      {% if "try_files" in location and location.try_files %}
    }
      {% endif %}
    {% endif %}

    {% if "proxy_ws" in location and location.proxy_ws %}
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
    {% endif %}

    {% if not ("try_files" in location and location.try_files) %}
    }
    {% endif %}
  {% endfor %}
{% endif %}
}

{% if "aliases" in item %}
server {
    listen 443 ssl;
    server_name {% for alias in item.aliases %} {{ alias }} {% endfor %};
    return 301 https://{{ item.primary }}$request_uri;
}
{% endif %}

server {
    listen 80 {% if "default" in item and item.default %} default_server {% endif %};
    server_name {{ item.primary }} {% if "aliases" in item %} {% for alias in item.aliases %} {{ alias }} {% endfor %} {% endif %};
    return 301 https://{{ item.primary }}$request_uri;
}
